<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>QA Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css"/>
    <link rel="shortcut icon" type="image/png" href="../../favicon.png"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">QA Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/api">API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ui">UI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/performance">Performance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/screenshot">Screenshot</a>
            </li>
        </ul>
    </div>
</nav>

<div style="margin-top: 50px"></div>

<div class="container">
    <div class="starter-template" layout:fragment="content"></div>
</div><!-- /.container -->
</body>
</html>