<!DOCTYPE HTML>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>QA Dashboard - UI</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-xs-8 col-md-12">
        <h3>UI Test</h3>
        <div class="row">
            <h6>Check environment(s) to run your tests in:</h6>
            <div class="col-xs-8 col-md-12">
                <form>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="env-dev" name="radio-stacked-env" required>
                            <label class="custom-control-label" for="env-dev">Development</label>
                        </div>
                        <div class="custom-control custom-radio mb-3">
                            <input type="radio" class="custom-control-input" id="env-prd" name="radio-stacked-env" required>
                            <label class="custom-control-label" for="env-prd">Production</label>
                            <div class="invalid-feedback">Selecting environment under test is mandatory</div>
                        </div>
                    </div>
                    <h6>Select what to test:</h6>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="sanity" name="radio-stacked" required>
                            <label class="custom-control-label" for="sanity">Sanity</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="regression" name="radio-stacked" required>
                            <label class="custom-control-label" for="regression">Regression</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="maps" name="radio-stacked" required>
                            <label class="custom-control-label" for="maps">Maps</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="tables" name="radio-stacked" required>
                            <label class="custom-control-label" for="tables">Tables</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="metadata" name="radio-stacked" required>
                            <label class="custom-control-label" for="metadata">Data Dictionary</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="documentation" name="radio-stacked" required>
                            <label class="custom-control-label" for="documentation">Documentation</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="charts" name="radio-stacked" required>
                            <label class="custom-control-label" for="charts">Charts</label>
                        </div>
                        <div class="custom-control custom-radio mb-3">
                            <input type="radio" class="custom-control-input" id="geobuffer" name="radio-stacked" required>
                            <label class="custom-control-label" for="geobuffer">Geobuffer</label>
                            <div class="invalid-feedback">Selecting test group is mandatory</div>
                        </div>
                    </div>

                    <h6></h6>
                    <button class="btn btn-primary" type="submit">Start test</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>