<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>Show Screenshot</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-xs-8 col-md-8">
        <h3>
            <a href="/screenshot" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> All Screenshot</a>
        </h3>
        <h2 th:text="${screenshot.screenshotName}"></h2>
        <h2><img th:src="${screenshot.screenshotUrl}" width="200"/></h2>
        <dl class="list">
            <dt>Screenshot Description</dt>
            <dd th:text="${screenshot.screenshotDesc}"></dd>
        </dl>
        <form action="/screenshot/delete">
            <input type="hidden" name="id" th:value="${screenshot.id}"/>
            <h2>
                <input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure?');"/>
                <a th:href="@{'/screenshot/edit/' + ${screenshot.id}}" class="btn btn-warning">Edit</a>
            </h2>
        </form>
    </div>
</div>
</body>
</html>
